/*--------------------------------------------------------------
## Basic Color
----------------------------------------------------------------*/
$white: #fff;
$black: #03274b;
$primary: #033a79;
$secondary: #18599b;
$ternary: #D9D9D9;
$border: #eaeaea;
$gray: #F4F6F9;
$accent: #082d7e;
